
  .rosteralert {
      display:flex;
      justify-content:center;
  }
  
  #rostersubmit {
      background-color:#f24033;
      width:100%;
      border-radius:4px;
  }
  
  #rostersubmit > button {
      min-width:120px;
      display: inline-block;
      margin: 0;
      margin-left:10px;
      margin-top:10px;
      margin-bottom:10px;
  }
  
  #rostersubmit > p {
      font-family: "Montserrat", sans-serif;
      font-weight:100;
      font-size:14px;
      display:inline-block;
      margin: 0;
  }

  .gametablecontainer {
    width:100%;
  }

  .schoolcodelink {
    text-align:center;
  }

  .ploption {
    color:#aaa;
    transition: ease .4s all;
    font-size:26px;
  }

  .ploption:hover {
    color:#fff;
    cursor:pointer;
  }

  #addplayer, #playersearch {
    float:right;
  }
  .plleft {
    float:left;
    width:50%;
  }

  .plright {
    float:right;
    width:50%;
  }
