html {
    scroll-behavior: smooth;
}

.matchcontentslider {
    width:100%;
    height:7em;
    overflow:hidden;
    /*
    display:flex;
    align-items: center;
    justify-content: center;*/
    background-color: #1e1e1e;
    white-space: nowrap;
}

.matchcontentbox {
    width:16em;
    height:100%;
    border-radius: 3px;
    box-shadow: #101010;
    margin:2px;
    border:solid 1px #1e1e1e;
    display:inline-block;
}

.matchboxheader {
    height:30%;
    text-align:center;
}

.matchboxheader > a {
    margin-top:4px;
    color:#ddd;
    transition: color .4s;
}

.matchboxheader > a:hover {
    color: #fff;
}

.matchboxheader > p {
    font-weight: 600;
}

.matchboxbody {
    height:70%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: space-around;
}

.griditem {
    display:flex;
    justify-content: center;
    align-items: center;
}

.griditem > img {
    width:42px;
    height: 42px;
}

.btnS {
    position:absolute;
    width:50px;
    height:inherit;
    background-color:#bfbfbf;
    opacity:0;
    transition: all .2s ease;
    z-index:10;
    font-size:30px;
    color:#1e1e1e;
    text-align: center;
    vertical-align: middle;
    line-height: 3.5em;
}

.btnR {
    right:0;
}

.btnL {
    left:0;
}

.btnR:hover, .btnL:hover {
    background-color:#ffffff;
    color:#101010;
    cursor:pointer;
}

.matchcontentslider:hover > .btnL, .matchcontentslider:hover > .btnR {
    opacity:0.7;
}

@media screen and (max-width: 1024px) {
    .btnS {
        display:none;
    }

    .matchcontentslider {
        overflow-x:scroll;
    }
}

.matchboxgame {
    position: relative;
    top:-20px;
    color:#999;
    text-decoration: underline;
    font-size: 14px;
}